* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(243, 197, 112);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(233, 163, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page4 {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page5 {
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid {  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}


#box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}

#box-small {
  height: 150px;
  width: 150px;
  background-color: crimson;
}
